:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;
  --color-red: #ff0000;

  --color-dark--1: #2d3439;
  --color-dark--1--opacity: rgba(45, 52, 57, 0.7);
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);

  --color-popup-wrapper: rgba(42, 42, 42, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  padding: 2.5rem;

  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  z-index: 99999;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 2rem 5rem;
  display: flex;
  flex-direction: column;
}

header .global--options--btn {
  position: absolute;
  right: 0;
  font-size: 3rem;
  color: #ddd;
  padding: 0.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
header .global--options--btn.active {
  font-size: 3.5rem;
  color: var(--color-brand--2);
  background: var(--color-dark--2);
}

.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workout {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;
  z-index: 9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
}

.workout.workout__delete {
  transition: all 0.3s;
  transform: scale(0);
  opacity: 0;
  z-index: -1;
}

.workout--running {
  border-left: 5px solid var(--color-brand--2);
}
.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}

.workout__title {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.workout__title h2 {
  font-size: 1.7rem;
  font-weight: 600;
}
.workout:hover .workout__features {
  opacity: 1;
}
.workout__features {
  opacity: 0;
  transition: all 0.3s;
  font-size: 1.7rem;
  color: var(--color-light--1);
}
.workout__features .icon__edit {
  margin-right: 0.5rem;
}
.workout__features .icon__edit,
.workout__features .icon__delete {
  transition: all 0.3s;
}

.workout__features .icon__edit:hover,
.workout__features .icon__delete:hover {
  color: #fff;
  transition: all 0.3s;
}
.w--form {
  cursor: default;
}
.w--form .edit--control .icon:first-child {
  margin-right: 0.6rem;
}
.w--form .edit--control .icon ion-icon {
  transition: all 0.3s;
  font-size: 1.7rem;
  transform: scale(1.25);
  cursor: pointer;
  color: var(--color-light--1);
}
.w--form .edit--control .icon:hover ion-icon {
  color: #fff;
  transition: all 0.3s;
}

.workout__details {
  display: flex;
  align-items: center;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: none;
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}

/* Roman Hrynevych styles */
.popup--wrapper.hidden {
  opacity: 0;
  display: none;
}
.popup--wrapper {
  position: fixed;
  cursor: pointer;
  display: block;
  opacity: 1;
  margin-left: -2.5rem;
  margin-top: -2.5rem;
  width: 100vw;
  height: 100vh;
  background: var(--color-popup-wrapper);
  z-index: 999999;
  backdrop-filter: blur(0.2rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  cursor: default;
  transform: scale(0);
  background: var(--color-dark--1);
  max-width: 400px;
  text-align: center;
  padding: 2rem 4rem;
  border-radius: 1rem;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}
.popup.popup--active {
  transform: scale(1);
  transition: all 0.3s;
}
.popup .popup--buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.popup .popup--buttons button {
  cursor: pointer;
  width: 34%;
  padding: 0.5rem 0;
  font-size: 1.6rem;
  background: none;
  border: none;
  margin: 0 0.75rem;
}
.popup .popup--buttons .popup-yes {
  color: var(--color-brand--2);
  border: solid 0.2rem var(--color-brand--2);
  border-radius: 5px;
  transition: all 0.3s;
}
.popup .popup--buttons .popup-yes:hover {
  color: #fff;
  background-color: var(--color-brand--2);
}
.popup .popup--buttons .popup-no {
  color: #fff;
  background: var(--color-red);
  border: solid 0.2rem var(--color-red);
  border-radius: 5px;
}
/* Workout Edit */
.workout--edit--input {
  width: 80%;
  outline: none;
  border: none;
  border-radius: 2px;
  height: 87%;
  font-family: 'Manrope';
  font-size: 1.5rem;
  padding-left: 3px;
  background: var(--color-dark--1);
  color: #fff;
}
.madewith {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.madewith .html5 {
  color: #f86e33;
}
.madewith .css3 {
  color: #00a8fc;
  margin: 0 0.7rem;
}
.madewith .js {
  color: #ffc700;
}

.emoji {
  width: 2rem;
}

.workout__icon {
  margin-right: 0.2rem;
}

header {
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  position: relative;
}
header .logo {
  height: 5.2rem;
  justify-self: center;
}

.options {
  /* background: linear-gradient(
    342deg,
    rgba(255, 181, 69, 1) 20%,
    rgba(0, 196, 106, 1) 100%
  ); */
  background-color: #42484d;
  z-index: 9999;
  transition: all 0.5s;
  position: fixed;
  top: 2.5rem;
  bottom: 2.5rem;
  left: 32px;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: 30rem;
}
.options.active {
  transition: all 0.5s;
}

.options--buttons {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.options--button {
  margin-bottom: 2rem;
  cursor: pointer;
  width: 100%;
  height: 5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--color-dark--1);
  font-family: 'Manrope', sans-serif;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.options--button ion-icon {
  position: absolute;
  font-size: 2rem;
  right: 0px;
  opacity: 0;
  color: #fff;
  transition: all 0.3s;
}
.options--button:hover ion-icon {
  right: 30px;
  color: var(--color-brand--2);
  opacity: 1;
  transition: all 0.3s;
}
.options--button span {
  transition: all 0.3s;
  color: #fff;
}
.options--button:hover span {
  transition: all 0.3s;
  margin-right: 20px;
  color: var(--color-brand--2);
}
